# SAVE THESE FOLDERS
backend/*
!backend/modules/
backend/modules/*
!backend/modules/discography/
!backend/modules/discography/*
!backend/modules/discography/*/*
!backend/modules/discography/*/*/*

frontend/*
!frontend/modules/
frontend/modules/*
!frontend/modules/discography/
!frontend/modules/discography/*
!frontend/modules/discography/*/*
!frontend/modules/discography/*/*/*

# DEFAULT FORK CMS IGNORE
.project
.cache
.buildpath
.settings
.*.swp
.DS_Store
app/cache/*
app/logs/*
backend/cache/navigation/
vendor/
app/config/parameters.yml

# IGNORE ALL...
CHANGELOG.md
LICENSE.md
README.md
UPGRADE_3.6.md
/api
/app
apple-touch-icon.png
autoload.php
composer.json
composer.lock
favicon.ico
index.php
/install
/library
tile.png
/tools
VERSION.md
.htaccess
*.sketch
