# SAVE THESE FOLDERS & FILES
src/Backend/*
!src/Backend/Modules/
src/Backend/Modules/*
!src/Backend/Modules/Discography/
!src/Backend/Modules/Discography/*
!src/Backend/Modules/Discography/*/*
!src/Backend/Modules/Discography/*/*/*

src/Frontend/*
!src/Frontend/Modules/
src/Frontend/Modules/*
!src/Frontend/Modules/Discography/
!src/Frontend/Modules/Discography/*
!src/Frontend/Modules/Discography/*/*
!src/Frontend/Modules/Discography/*/*/*

# DEFAULT FORK CMS IGNORE
.project
.cache
.buildpath
.settings
.*.swp
.DS_Store
app/cache/*
app/logs/*
backend/cache/navigation/
vendor/
app/config/parameters.yml

# IGNORE these files...
*.md
!README.md
!LICENSE.md
/app
/src/Api
/src/Common
/src/Install
apple-touch-icon.png
autoload.php
composer.json
composer.lock
favicon.ico
/index.php
/library
tile.png
/tools
VERSION.md
.htaccess
*.sketch
